/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroImg{
  width: 10rem;
  height: 10rem;
}
/** In mobile view, reduce the padding */
@media screen and (max-width: 996px) {
  .heroImg {
    width: 13rem;
    height: 13rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
